/* -------------------------------------------- */
/* -------------------------------------------- */
/* --- HERO - Employer Profile ---------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
.cig--emp-hero-container {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cig--emp-hero-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cig--emp-hero-image-wrapper::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 31.77%,
    #ffffff 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
img.cig--emp-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.cig--emp-hero-content-wrapper {
  position: relative;
  background: var(--color-white);
  z-index: 2;
  min-height: 300px;
  max-width: 1170px;
  margin-inline: auto;
  display: flex;
}
.cig--emp-hero-firstchild,
.cig--emp-hero-secondchild {
  flex: 1;
  width: 50vw;
  box-sizing: border-box;
}
.cig--emp-hero-firstchild {
  padding: 2rem 0;
  display: flex;
}
.cig--emp-hero-content {
  flex: 2;
  padding-left: 2rem;
}
.cig--emp-hero-content h1 {
  font-size: 36px;
  line-height: 1.2;
  color: var(--color-blue-dark);
  margin: 0;
}
.cig--emp-hero-logo {
  flex: 1;
  text-align: center;
}
.cig--emp-hero-logo img {
  width: 120px;
  height: auto;
}
ul.cig--emp-info {
  margin: 0;
  padding: 1.5rem 0;
}
ul.cig--emp-info li {
  list-style: none;
  font-size: 16px;
  padding: 3px 0 3px 26px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 3;
  color: var(--color-blue-dark);
  font-weight: 500;
}
ul.cig--emp-info li a {
  text-decoration: none;
  color: var(--color-blue-dark);
}
ul.cig--emp-info li:nth-child(1)::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0483 9.58464C9.49314 9.58464 8.96075 9.36514 8.56821 8.97444C8.17567 8.58374 7.95514 8.05384 7.95514 7.5013C7.95514 6.94877 8.17567 6.41886 8.56821 6.02816C8.96075 5.63746 9.49314 5.41797 10.0483 5.41797C10.6034 5.41797 11.1358 5.63746 11.5283 6.02816C11.9209 6.41886 12.1414 6.94877 12.1414 7.5013C12.1414 7.77489 12.0873 8.0458 11.9821 8.29856C11.8769 8.55132 11.7227 8.78099 11.5283 8.97444C11.334 9.1679 11.1032 9.32135 10.8493 9.42605C10.5953 9.53075 10.3232 9.58464 10.0483 9.58464ZM10.0483 1.66797C8.4939 1.66797 7.00319 2.28255 5.90408 3.37651C4.80497 4.47047 4.1875 5.95421 4.1875 7.5013C4.1875 11.8763 10.0483 18.3346 10.0483 18.3346C10.0483 18.3346 15.9091 11.8763 15.9091 7.5013C15.9091 5.95421 15.2916 4.47047 14.1925 3.37651C13.0934 2.28255 11.6027 1.66797 10.0483 1.66797Z' fill='%23112D51'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}
ul.cig--emp-info li:nth-child(2)::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.38281 10.1963C1.38281 8.03289 2.25813 5.95805 3.81621 4.42827C5.37429 2.89849 7.4875 2.03906 9.69096 2.03906C11.8944 2.03906 14.0076 2.89849 15.5657 4.42827C17.1238 5.95805 17.9991 8.03289 17.9991 10.1963C17.9991 12.3598 17.1238 14.4346 15.5657 15.9644C14.0076 17.4942 11.8944 18.3536 9.69096 18.3536C7.4875 18.3536 5.37429 17.4942 3.81621 15.9644C2.25813 14.4346 1.38281 12.3598 1.38281 10.1963ZM9.1717 3.13723C8.4759 3.34524 7.78528 3.97335 7.21202 5.0287C7.02315 5.37956 6.8607 5.74353 6.72599 6.11769H9.1717V3.13723ZM5.63035 6.11769C5.80345 5.57607 6.0259 5.05086 6.29501 4.54844C6.47457 4.21507 6.68195 3.89687 6.915 3.5971C5.62828 4.12103 4.52122 4.99569 3.72467 6.11769H5.63035ZM5.02594 9.6865C5.05709 8.79226 5.16925 7.93473 5.34995 7.13735H3.12129C2.73405 7.93784 2.50297 8.80247 2.44002 9.6865H5.02594ZM6.41651 7.13735C6.21225 7.97327 6.09465 8.82733 6.06549 9.6865H9.1717V7.13735H6.41651ZM10.2102 7.13735V9.6865H13.3154C13.2866 8.82737 13.1694 7.9733 12.9654 7.13735H10.2102ZM6.06653 10.7062C6.09535 11.5653 6.2126 12.4193 6.41651 13.2553H9.1717V10.7062H6.06653ZM10.2102 10.7062V13.2553H12.9654C13.1596 12.4753 13.2832 11.6157 13.3164 10.7062H10.2102ZM6.72599 14.275C6.86931 14.6685 7.03236 15.0336 7.21202 15.364C7.78528 16.4193 8.47694 17.0464 9.1717 17.2554V14.275H6.72599ZM6.915 16.7956C6.68193 16.4958 6.47456 16.1776 6.29501 15.8442C6.0259 15.3418 5.80345 14.8166 5.63035 14.275H3.72467C4.52118 15.397 5.62825 16.2717 6.915 16.7956ZM5.34995 13.2553C5.16215 12.4172 5.05369 11.5639 5.02594 10.7062H2.44002C2.50441 11.6137 2.74223 12.4732 3.12129 13.2553H5.34995ZM12.4669 16.7956C13.7537 16.2717 14.8607 15.397 15.6573 14.275H13.7516C13.5785 14.8166 13.356 15.3418 13.0869 15.8442C12.9074 16.1776 12.7 16.4958 12.4669 16.7956ZM10.2102 14.275V17.2554C10.906 17.0474 11.5966 16.4193 12.1699 15.364C12.3496 15.0336 12.5126 14.6685 12.6559 14.275H10.2102ZM14.032 13.2553H16.2606C16.6397 12.4732 16.8775 11.6137 16.9419 10.7062H14.356C14.3283 11.5639 14.2198 12.4172 14.032 13.2553ZM16.9419 9.6865C16.8789 8.80247 16.6479 7.93784 16.2606 7.13735H14.032C14.2127 7.93473 14.3248 8.79226 14.356 9.6865H16.9419ZM13.0869 4.54844C13.3434 5.02156 13.5667 5.54771 13.7516 6.11769H15.6573C14.8607 4.99565 13.7537 4.12098 12.4669 3.5971C12.6933 3.88668 12.901 4.20686 13.0869 4.54844ZM12.6559 6.11769C12.5212 5.74353 12.3588 5.37955 12.1699 5.0287C11.5966 3.97335 10.906 3.34626 10.2102 3.13723V6.11769H12.6559Z' fill='%23112D51'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}
.cig--emp-job-count {
  padding: 10px 20px;
  color: var(--color-white);
  background: var(--color-grey-dark);
  font-weight: bold;
  border-radius: 50px;
  display: inline-block;
}
@media (max-width: 768px) {
  .cig--emp-hero-container {
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .cig--emp-hero-image-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .cig--emp-hero-image-wrapper::before {
    top: 1px;
  }
  .cig--emp-hero-content-wrapper {
    display: block;
    width: 100%;
  }
  .cig--emp-hero-firstchild,
  .cig--emp-hero-secondchild {
    width: auto;
    box-sizing: border-box;
    width: 100%;
  }
  .cig--emp-hero-firstchild {
    padding: 2rem;
    display: flex;
    gap: 1rem;
  }
  .cig--emp-hero-content {
    flex: 2;
    padding-left: 0;
  }
  .cig--emp-hero-logo img {
    width: 80px;
    height: auto;
  }
  .cig--emp-hero-secondchild {
    height: 250px;
    padding: 0 10px;
  }
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* --- ACCORDION - Employer info -------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
#cig__employer_accordion {
  padding-top: 2rem;
}
.accordion--container ul {
  margin-top: 2rem;
  padding: 0;
}
.cig--accordion {
  list-style: none;
}
.accordion--body {
  display: none;
}
.accordion--head {
  padding: 1rem 3rem 1rem 1rem;
  background: var(--color-blue-light-bg);
  border-bottom: 2px solid var(--color-white);
  color: var(--color-grey-dark);
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.accordion-chev {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../assets/svg/chev-down.svg);
  display: block;
  background-size: contain;
  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  transition: 0.3s;
}

li.cig--accordion.open .accordion--head .accordion-chev {
  transform: rotate(180deg);
  transition: 0.3s;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
/* --- REVIEW banner -------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
#cig__employer_banner {
  padding-bottom: 1rem;
}
.cig--banner-wrapper {
  display: flex;
  box-sizing: border-box;
  margin: 2rem auto;
  position: relative;
}
.cig--banner-wrapper:before,
.cig--banner-wrapper:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 18px;
  left: 15px;
  width: 50%;
  top: 80%;
  max-width: 500px;
  background: #777;
  -webkit-box-shadow: 0 20px 15px #777;
  -moz-box-shadow: 0 20px 15px #777;
  box-shadow: 0 20px 15px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.cig--banner-wrapper:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 15px;
  left: auto;
}
.cig--banner-firstchild {
  flex: 2;
  z-index: 2;
  height: 281px;
  background: url(../assets/emp-brn-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.cig--banner-firstchild::after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(311deg, #2867c6de 39.58%, #001739dc 90.63%);
  position: absolute;
}
.cig--banner-content {
  color: var(--color-white);
  padding: 2rem 4rem;
  position: relative;
  z-index: 2;
  letter-spacing: 0.8px;
}
.cig--banner-content h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
}
a.cig--banner-cta {
  color: var(--color-blue-light);
  background: var(--color-white);
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
  transition: 0.2s ease;
}
a.cig--banner-cta:hover {
  background: var(--color-grey-dark);
  color: var(--color-white);
}
.cig--banner-secondchild {
  flex: 1;
  position: relative;
  z-index: 1;
}
.cig--banner-secondchild::after {
  content: "";
  width: calc(100% + (100px));
  height: calc(100% - (2 * 16.2px));
  position: absolute;
  top: 0;
  right: 0;
  border-width: 15px;
  border-style: solid;
  border-image: linear-gradient(255deg, #380f10cb, #b3654bd3);
  border-image-slice: 1;
  border-image-outset: 0;
  z-index: 2;
}
img.cig--banner-img {
  height: 280px;
  object-fit: cover;
  width: calc(100% + 100px);
  margin-left: -100px;
}

@media (max-width: 768px) {
  .cig--banner-wrapper {
    display: block;
  }
  .cig--banner-firstchild {
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    height: auto;
    margin-bottom: -60px;
  }
  .cig--banner-content {
    padding: 2rem;
    padding-bottom: 3rem;
  }
  img.cig--banner-img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    margin-left: 0;
    /* margin-top: -50px; */
  }
  .cig--banner-secondchild::after {
    content: "";
    width: calc(100% - (2 * 14.200000000000003px));
    height: calc(100% - (2 * 16.2px));
    position: absolute;
    top: 0;
    right: 0;
    border-width: 15px;
    border-style: solid;
    border-image: linear-gradient(255deg, #380f10cb, #5f3b2fd3);
    border-image-slice: 1;
    border-image-outset: 0;
    z-index: 2;
  }
  .cig--banner-content h2 {
    font-size: 26px;
  }
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* --- JOB LISTING - Employer jobs ------------ */
/* -------------------------------------------- */
/* -------------------------------------------- */
#cig__employer_jobs {
  background: #fafafa;
  padding-top: 2rem;
}

/* Search form */
form.cig--emp-job-filter {
  padding: 1rem 0;
  margin-inline: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-grey);
}
form.cig--emp-job-filter,
form.cig--emp-job-filter ul {
  display: flex;
  gap: 1rem;
}
form.cig--emp-job-filter ul {
  margin: 0;
  padding: 0;
}
form.cig--emp-job-filter ul li {
  list-style: none;
}
input.menu__search {
  background: var(--color-white);
  color: var(--color-grey-mid);
  display: block;
  text-decoration: none;
  border-radius: 50px;
  border: var(--border-grey);
  padding: 5px 26px 5px 12px;
  font-size: 16px;
  width: auto;
  position: relative;
}
input.menu__search:focus {
  outline: none;
}
input.menu__submit {
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  color: var(--color-white);
  background: #2867c6;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
}
input.menu__submit:hover {
  background: var(--color-grey-dark);
}
/* Search form end */

/* ----------------- */
/* --- Job cards --- */
/* ----------------- */
#cig__job_cards {
  margin: 3rem 0;
}
ul.cig--job-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0;
  padding: 0;
}
li.cig--job-card-wrapper {
  list-style: none;
  background: var(--color-white);
  box-shadow: var(--shadow-main);
  border-radius: 10px;
  flex: 1;
}
.cig--job-card-head {
  border-radius: 11px 11px 0 0;
  min-height: 50px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(134deg, #022c60 15.63%, #5f96ce 100%);
  z-index: 1;
}
.cig--job-card-head::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  background: linear-gradient(330deg, #f5f5f5, #a47e62);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 2;
}
.cig--job-card-head h3 {
  margin: 0;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}
.cig--card-info-list {
  padding: 1rem;
  background: var(--color-blue-light-bg);
}
.cig--card-info-list ul.cig--card-info {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;
}
.cig--card-info-list ul.cig--card-info li {
  list-style: none;
  font-size: 16px;
  padding: 3px 0 3px 26px;
  position: relative;
}
.cig--card-info-list ul.cig--card-info li:nth-child(1)::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0473 9.58464C9.49229 9.58464 8.95998 9.36514 8.5675 8.97444C8.17503 8.58374 7.95454 8.05384 7.95454 7.5013C7.95454 6.94877 8.17503 6.41886 8.5675 6.02816C8.95998 5.63746 9.49229 5.41797 10.0473 5.41797C10.6024 5.41797 11.1347 5.63746 11.5272 6.02816C11.9196 6.41886 12.1401 6.94877 12.1401 7.5013C12.1401 7.77489 12.086 8.0458 11.9808 8.29856C11.8757 8.55132 11.7215 8.78099 11.5272 8.97444C11.3328 9.1679 11.1021 9.32135 10.8482 9.42605C10.5943 9.53075 10.3222 9.58464 10.0473 9.58464ZM10.0473 1.66797C8.49321 1.66797 7.00274 2.28255 5.90381 3.37651C4.80487 4.47047 4.1875 5.95421 4.1875 7.5013C4.1875 11.8763 10.0473 18.3346 10.0473 18.3346C10.0473 18.3346 15.9072 11.8763 15.9072 7.5013C15.9072 5.95421 15.2898 4.47047 14.1909 3.37651C13.0919 2.28255 11.6015 1.66797 10.0473 1.66797Z' fill='%235A607A'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}
.cig--card-info-list ul.cig--card-info li:nth-child(2)::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.3488 4.4585C2 4.85955 2 5.54845 2 6.92462V14.5203C2 15.4954 2 15.983 2.252 16.3501C2.5032 16.7172 2.9432 16.8716 3.8232 17.1796L4.8584 17.5427C5.4192 17.7392 5.8504 17.8904 6.2128 17.9874C6.4496 18.0513 6.6664 17.8637 6.6664 17.6163V5.36652C6.66363 5.26832 6.62877 5.17382 6.56727 5.09775C6.50576 5.02169 6.42106 4.96835 6.3264 4.94607C6.0152 4.86602 5.6408 4.73503 5.128 4.55553C3.8856 4.11971 3.264 3.90221 2.792 4.12295C2.6227 4.20229 2.47173 4.31659 2.3488 4.4585ZM10.496 3.11143L9.2672 3.97255C8.8232 4.28385 8.4968 4.51268 8.2192 4.6752C8.15379 4.71213 8.09912 4.76577 8.06065 4.83076C8.02218 4.89575 8.00127 4.9698 8 5.04552V17.212C8 17.5112 8.3072 17.6987 8.5568 17.537C8.8248 17.364 9.132 17.1489 9.504 16.8886L10.7328 16.0274C11.1768 15.7161 11.5032 15.4873 11.7808 15.3248C11.8462 15.2879 11.9009 15.2342 11.9394 15.1692C11.9778 15.1043 11.9987 15.0302 12 14.9545V2.7872C12 2.48722 11.6928 2.30044 11.4432 2.46135C11.1752 2.63519 10.868 2.85027 10.496 3.11143ZM16.176 2.81954L15.1416 2.4573C14.5808 2.26082 14.1496 2.10962 13.7872 2.01259C13.5504 1.94872 13.3336 2.1363 13.3336 2.38372V14.6335C13.3364 14.7317 13.3712 14.8262 13.4327 14.9022C13.4942 14.9783 13.5789 15.0316 13.6736 15.0539C13.9848 15.134 14.3592 15.2642 14.872 15.4445C16.1144 15.8803 16.736 16.0978 17.208 15.8771C17.3773 15.7977 17.5283 15.6834 17.6512 15.5415C18 15.1404 18 14.4516 18 13.0754V5.47972C18 4.50459 18 4.01622 17.748 3.64994C17.4968 3.28285 17.0568 3.12841 16.1768 2.82035L16.176 2.81954Z' fill='%235A607A'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}
.cig--card-info-list ul.cig--card-info li:nth-child(3)::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5.2C3 4.32 3.70049 3.6 4.55664 3.6H15.4531C15.8659 3.6 16.2619 3.76857 16.5538 4.06863C16.8457 4.36869 17.0097 4.77565 17.0097 5.2V16.4C17.0097 16.8243 16.8457 17.2313 16.5538 17.5314C16.2619 17.8314 15.8659 18 15.4531 18H4.55664C4.14379 18 3.74785 17.8314 3.45593 17.5314C3.164 17.2313 3 16.8243 3 16.4V5.2ZM4.55664 6.8V16.4H15.4531V6.8H4.55664ZM6.11327 2H7.66991V3.6H6.11327V2ZM12.3398 2H13.8965V3.6H12.3398V2ZM6.11327 9.2H7.66991V10.8H6.11327V9.2ZM6.11327 12.4H7.66991V14H6.11327V12.4ZM9.22655 9.2H10.7832V10.8H9.22655V9.2ZM9.22655 12.4H10.7832V14H9.22655V12.4ZM12.3398 9.2H13.8965V10.8H12.3398V9.2ZM12.3398 12.4H13.8965V14H12.3398V12.4Z' fill='%235A607A'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  display: block;
  position: absolute;
  left: 0;
}
/* SWITCH  */
.switch--content.RTETextWrapper {
  display: none;
}
ul.cig--card-pill-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}
ul.cig--card-pill-wrapper li {
  list-style: none;
  border: var(--border-grey);
  background: var(--color-white);
  border-radius: 50px;
  padding: 3px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cig--switcher {
  position: relative;
  z-index: 3;
}
.switcher--excerpt ul {
  height: 30px;
  overflow-y: hidden;
}
.cig--pill-cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}
a.switcher-btn {
  display: block;
  text-decoration: none;
  color: var(--color-blue-light);
  font-size: 14px;
}
a.switcher-btn.showLess {
  text-align: right;
  width: 100%;
}
span.pill--total {
  font-size: 14px;
  color: var(--color-grey-dark);
}
/* SWITCH END */

.cig--job-card-cta {
  padding: 1rem;
}
a.cig--card-cta {
  padding: 8px 16px;
  border-radius: 50px;
  text-decoration: none;
  background: var(--color-blue-dark);
  color: var(--color-white);
}
a.cig--card-cta {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
  text-decoration: none;
  background: var(--color-blue-dark);
  color: var(--color-white);
  transition: 0.2s ease;
}
a.cig--card-cta:hover {
  background: #000;
}
/* ------------- */
/* Job cards end */
/* ------------- */
@media (max-width: 768px) {
  form.cig--emp-job-filter,
  form.cig--emp-job-filter ul {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /* width: 100%; */
  }
  form.cig--emp-job-filter ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .center-submenu {
    left: 50% !important;
    transform: translateX(-50%);
    top: 110%;
  }
  input.menu__search {
    width: 100%;
    box-sizing: border-box;
  }
  input.menu__submit {
    width: 100%;
  }
  /* Card */
  ul.cig--job-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
/* ----------------- */
/* --- Load More --- */
/* ----------------- */
.cig--center-cta-wrapper {
  background: var(--color-white);
}
