/* ----------------- */
/* --- Scrollbar --- */
/* ----------------- */
.cig--dropdown-scroll-wrapper::-webkit-scrollbar {
  width: 5px;
}
.cig--dropdown-scroll-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cig--dropdown-scroll-wrapper::-webkit-scrollbar-thumb {
  background: var(--color-blue-dark);
  border-radius: var(--border-radius-10);
}
.cig--dropdown-scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--color-grey-dark);
}
/* ------------------- */
/* --- INPUT FOCUS --- */
/* ------------------- */
input:focus {
  border: 1px solid #2867c6;
  box-shadow: inset 0.5px 0px 3px #2867c6;
  outline-offset: 0px;
  outline: none;
}
/* --------------------- */
/* --- Sticky Navbar --- */
/* --------------------- */
header.cig--sticky-navbar {
  z-index: 10;
  position: sticky;
  top: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hidden--menu {
  transform: translateY(-100%);
}

nav.cig--navbar-pc {
  display: block;
  height: 64px;
  display: flex;
  align-items: center;
  background: var(--color-blue-light-bg);
}
.cig--navbar-mobile {
  display: none;
}

/* ------------------------ */
/* TOP SECTION - SITE LINKS */
/* ------------------------ */
.cig-company-logo {
  height: 40px;
}
.cig--navbar-wrapper-firstchild-wrapper {
  width: 100%;
}
a.cig--navbar-link-plain {
  display: flex;
  gap: 3px;
}
.cig--dropdown {
  position: relative;
  list-style: none;
}
.dropdown__menu {
  position: absolute;
  z-index: 9999;
  top: 35px;
  left: 0;
  display: flex;
  background-color: var(--color-white);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-main);
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 5px, 0);
  border: var(--border-grey);
  overflow: hidden;
  transition: 0.5s ease all;
}
.dropdown__menu .dropdown__content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.dropdown__menu .dropdown__content ul.dropdown__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
}
.dropdown__menu .dropdown__content ul.dropdown__nav li.dropdown__item {
  display: flex;
  width: 100%;
  transition: 0.35s ease all;
}
.dropdown__menu
  .dropdown__content
  ul.dropdown__nav
  li.dropdown__item
  a.dropdown__link {
  display: inline-block;
  width: 160px;
  text-decoration: none;
  padding: 12px 16px;
  color: var(--color-blue-dark);
  font-weight: 500;
}
.dropdown__menu
  .dropdown__content
  ul.dropdown__nav
  li.dropdown__item
  a.dropdown__link:hover {
  background: var(--color-blue-light-bg);
}
.dropdown--is-active .dropdown__menu {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, -5px, 0);
}
.cig--dropdown a.dropdown__link {
  position: relative;
  text-decoration: none;
  z-index: 999;
}
svg.dropdown__icon {
  fill: var(--color-blue-dark);
  width: 16px;
}
a.dropdown__link.dropdown__link--is-active svg.dropdown__icon-arrow-down {
  transform: rotate3d(0, 0, 1, -180deg);
}

ul.cig-searchbar-wrapper {
  margin: 0;
}
ul.cig-searchbar-wrapper li {
  position: relative;
}
ul.cig-searchbar-wrapper li input,
ul.cig-searchbar-mobile-wrapper li input {
  border-radius: 5px;
  border: none;
  padding: 8px 8px 8px 30px;
  font-size: 16px;
  max-width: 13vw;
  text-overflow: ellipsis;
}
li.cig-searchbar-search-wrapper::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.4601 10.3188L15.7639 14.6227C15.9151 14.7741 16.0001 14.9793 16 15.1933C15.9999 15.4074 15.9148 15.6126 15.7635 15.7639C15.6121 15.9151 15.4068 16.0001 15.1928 16C14.9788 15.9999 14.7736 15.9148 14.6223 15.7635L10.3185 11.4595C9.03194 12.4561 7.41407 12.925 5.79403 12.771C4.17398 12.617 2.67346 11.8516 1.59771 10.6305C0.521957 9.40935 -0.0482098 7.82428 0.00319691 6.1977C0.0546036 4.57112 0.723722 3.02522 1.87443 1.87448C3.02514 0.72374 4.57101 0.054605 6.19754 0.00319699C7.82408 -0.048211 9.40911 0.52197 10.6302 1.59775C11.8513 2.67352 12.6167 4.17409 12.7707 5.79417C12.9247 7.41426 12.4558 9.03217 11.4593 10.3188H11.4601ZM6.4003 11.1996C7.67328 11.1996 8.89412 10.6939 9.79425 9.7937C10.6944 8.89354 11.2001 7.67267 11.2001 6.39966C11.2001 5.12665 10.6944 3.90577 9.79425 3.00562C8.89412 2.10546 7.67328 1.59976 6.4003 1.59976C5.12732 1.59976 3.90648 2.10546 3.00634 3.00562C2.10621 3.90577 1.60052 5.12665 1.60052 6.39966C1.60052 7.67267 2.10621 8.89354 3.00634 9.7937C3.90648 10.6939 5.12732 11.1996 6.4003 11.1996Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  padding: 1px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  z-index: 1;
}
li.cig-searchbar-location-wrapper::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 8.55C5.88432 8.55 5.29385 8.31295 4.8585 7.89099C4.42315 7.46903 4.17857 6.89674 4.17857 6.3C4.17857 5.70326 4.42315 5.13097 4.8585 4.70901C5.29385 4.28705 5.88432 4.05 6.5 4.05C7.11568 4.05 7.70615 4.28705 8.1415 4.70901C8.57685 5.13097 8.82143 5.70326 8.82143 6.3C8.82143 6.59547 8.76138 6.88806 8.64472 7.16104C8.52806 7.43402 8.35706 7.68206 8.1415 7.89099C7.92593 8.09992 7.67002 8.26566 7.38837 8.37873C7.10672 8.4918 6.80485 8.55 6.5 8.55ZM6.5 0C4.77609 0 3.12279 0.663748 1.90381 1.84523C0.684819 3.02671 0 4.62914 0 6.3C0 11.025 6.5 18 6.5 18C6.5 18 13 11.025 13 6.3C13 4.62914 12.3152 3.02671 11.0962 1.84523C9.87721 0.663748 8.22391 0 6.5 0Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  padding: 1px;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  z-index: 1;
}
li.cig-searchbar-submit-wrapper button {
  font-family: "Open Sans", sans-serif;
  border: 1.5px solid#112D51;
  color: #112d51;
  background: #e8f1ff;
  border-radius: 50px;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
li.cig-searchbar-submit-wrapper button:hover {
  background: #d4e4ff;
}

/* Hide the sixth list item */
#id_search_recent li:nth-child(n + 6),
#id_search_suggest li:nth-child(n + 6) {
  display: none;
}
/* --------------------- */
/* Search Dropdown start */
/* --------------------- */
#dropdown__search-dropdown {
  position: absolute;
  top: calc(100% + -3px);
  width: 450px;
  padding: 14px;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 5px, 0);
  overflow: hidden;
  transition: 0.5s ease all;
}
.search_dropdown--active {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate3d(0, -5px, 0) !important;
}
/* #dropdown__search-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 3px);
  width: 450px;
  padding: 14px;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
  z-index: 2;
} */
section.cig--search-dropdown-wrapper li {
  cursor: pointer;
}

.cig-search-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cig-search-dropdown ul.cig-search-recent-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.cig-search-dropdown strong {
  color: #112d51;
  font-size: 16px;
}
ul.cig-search-recent-list li {
  padding-left: 28px;
  position: relative;
  color: #666666;
  font-size: 16px;
}
ul.cig-search-recent-list li::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6569 13.6569C12.1566 15.1571 10.1217 16 8 16C5.87827 16 3.84344 15.1571 2.34315 13.6569C0.842855 12.1566 0 10.1217 0 8C0 5.87827 0.842855 3.84344 2.34315 2.34315C3.84344 0.842855 5.87827 0 8 0C10.1217 0 12.1566 0.842855 13.6569 2.34315C15.1571 3.84344 16 5.87827 16 8C16 10.1217 15.1571 12.1566 13.6569 13.6569ZM12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15C9.85652 15 11.637 14.2625 12.9497 12.9497ZM7.85355 3.14645C7.94732 3.24021 8 3.36739 8 3.5V8.71L11.248 10.566C11.3598 10.6334 11.4408 10.7419 11.4736 10.8683C11.5065 10.9946 11.4886 11.1288 11.4238 11.2422C11.3591 11.3556 11.2525 11.4391 11.127 11.4749C11.0014 11.5108 10.8669 11.4961 10.752 11.434L7.252 9.434C7.17547 9.39029 7.11186 9.32712 7.06761 9.25091C7.02335 9.17469 7.00003 9.08813 7 9V3.5C7 3.36739 7.05268 3.24021 7.14645 3.14645C7.24021 3.05268 7.36739 3 7.5 3C7.63261 3 7.75979 3.05268 7.85355 3.14645Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 1px;
  left: 1px;
}
ul.cig-search-suggest-list {
  display: flex;
  flex-wrap: wrap;
}
ul.cig-search-suggest-list li {
  border: 1px solid #2867c6;
  color: #2867c6;
  font-weight: 400;
  padding: 4px 10px;
  border-radius: 50px;
}
/* ------------------- */
/* Search Dropdown end */
/* ------------------- */

.cig--navbar-wrapper-firstchild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 0 10px;
  border-radius: 10px;
}

.cig--navbar-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cig--navbar-links-wrapper ul {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 11px 0;
  padding: 0;
}
.cig--navbar-links-wrapper ul li {
  list-style: none;
}
.cig--navbar-links-wrapper ul li a {
  text-decoration: none;
  transition: 0.2s ease;
}
.cig--navbar-link-plain:hover {
  color: var(--color-blue-light);
}
.cig--navbar-links-wrapper ul li a.cig--navbar-link-rounded:hover {
  background: var(--color-grey-dark);
}
a.cig--navbar-link-plain {
  color: var(--color-blue-dark);
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}
a.cig--navbar-link-rounded {
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
}
a.cig--navbar-link-rounded-light {
  color: var(--color-white);
  background: var(--color-blue-light);
}
a.cig--navbar-link-rounded-dark {
  color: var(--color-white);
  background: var(--color-blue-dark);
}
.cig--navbar-social-links span {
  display: block;
  width: 32px;
  height: 32px;
  transition: 0.2s ease;
}
.cig--navbar-social-link-in {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C7.16333 0 0 7.16333 0 16C0 24.8367 7.16333 32 16 32C24.8367 32 32 24.8367 32 16C32 7.16333 24.8367 0 16 0ZM12.0833 22.6317H8.84333V12.205H12.0833V22.6317ZM10.4433 10.925C9.42 10.925 8.75833 10.2 8.75833 9.30333C8.75833 8.38833 9.44 7.685 10.485 7.685C11.53 7.685 12.17 8.38833 12.19 9.30333C12.19 10.2 11.53 10.925 10.4433 10.925ZM23.9167 22.6317H20.6767V16.8533C20.6767 15.5083 20.2067 14.595 19.035 14.595C18.14 14.595 17.6083 15.2133 17.3733 15.8083C17.2867 16.02 17.265 16.32 17.265 16.6183V22.63H14.0233V15.53C14.0233 14.2283 13.9817 13.14 13.9383 12.2033H16.7533L16.9017 13.6517H16.9667C17.3933 12.9717 18.4383 11.9683 20.1867 11.9683C22.3183 11.9683 23.9167 13.3967 23.9167 16.4667V22.6317Z' fill='%232867C6'/%3E%3C/svg%3E%0A");
}
.cig--navbar-social-link-tw {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C24.8457 0 32 7.15429 32 16C32 24.8457 24.8457 32 16 32C7.15429 32 0 24.8457 0 16C0 7.15429 7.15429 0 16 0ZM13.0743 24.4343C20.16 24.4343 24.0457 18.56 24.0457 13.4629V12.96C24.8 12.4114 25.4629 11.7257 25.9657 10.9486C25.28 11.2457 24.5257 11.4514 23.7486 11.5657C24.5486 11.0857 25.1657 10.3314 25.44 9.44C24.6857 9.87429 23.8629 10.1943 22.9943 10.3771C22.2857 9.62286 21.28 9.16572 20.1829 9.16572C18.0571 9.16572 16.32 10.9029 16.32 13.0286C16.32 13.3257 16.3429 13.6229 16.4343 13.8971C13.2343 13.7371 10.3771 12.2057 8.48 9.87429C8.16 10.4457 7.95429 11.1086 7.95429 11.8171C7.95429 13.1429 8.64 14.3314 9.66857 15.0171C9.02857 15.0171 8.43429 14.8343 7.93143 14.5371V14.5829C7.93143 16.4571 9.25714 18.0114 11.0171 18.3771C10.6971 18.4686 10.3543 18.5143 10.0114 18.5143C9.76 18.5143 9.53143 18.4914 9.28 18.4457C9.76 19.9771 11.2 21.0971 12.8686 21.12C11.5429 22.1486 9.87429 22.7657 8.06857 22.7657C7.74857 22.7657 7.45143 22.7657 7.15429 22.72C8.84571 23.8171 10.88 24.4571 13.0514 24.4571' fill='%232867C6'/%3E%3C/svg%3E%0A");
}
.cig--navbar-social-link-fb {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 16.0401C32 7.18596 24.832 0 16 0C7.168 0 0 7.18596 0 16.0401C0 23.8035 5.504 30.2677 12.8 31.7594V20.8521H9.6V16.0401H12.8V12.0301C12.8 8.93434 15.312 6.41604 18.4 6.41604H22.4V11.2281H19.2C18.32 11.2281 17.6 11.9499 17.6 12.8321V16.0401H22.4V20.8521H17.6V32C25.68 31.198 32 24.3649 32 16.0401Z' fill='%232867C6'/%3E%3C/svg%3E%0A");
}
.cig--navbar-social-link-in:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C7.16333 0 0 7.16333 0 16C0 24.8367 7.16333 32 16 32C24.8367 32 32 24.8367 32 16C32 7.16333 24.8367 0 16 0ZM12.0833 22.6317H8.84333V12.205H12.0833V22.6317ZM10.4433 10.925C9.42 10.925 8.75833 10.2 8.75833 9.30333C8.75833 8.38833 9.44 7.685 10.485 7.685C11.53 7.685 12.17 8.38833 12.19 9.30333C12.19 10.2 11.53 10.925 10.4433 10.925ZM23.9167 22.6317H20.6767V16.8533C20.6767 15.5083 20.2067 14.595 19.035 14.595C18.14 14.595 17.6083 15.2133 17.3733 15.8083C17.2867 16.02 17.265 16.32 17.265 16.6183V22.63H14.0233V15.53C14.0233 14.2283 13.9817 13.14 13.9383 12.2033H16.7533L16.9017 13.6517H16.9667C17.3933 12.9717 18.4383 11.9683 20.1867 11.9683C22.3183 11.9683 23.9167 13.3967 23.9167 16.4667V22.6317Z' fill='%23112D51'/%3E%3C/svg%3E%0A");
}
.cig--navbar-social-link-tw:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C24.8457 0 32 7.15429 32 16C32 24.8457 24.8457 32 16 32C7.15429 32 0 24.8457 0 16C0 7.15429 7.15429 0 16 0ZM13.0743 24.4343C20.16 24.4343 24.0457 18.56 24.0457 13.4629V12.96C24.8 12.4114 25.4629 11.7257 25.9657 10.9486C25.28 11.2457 24.5257 11.4514 23.7486 11.5657C24.5486 11.0857 25.1657 10.3314 25.44 9.44C24.6857 9.87429 23.8629 10.1943 22.9943 10.3771C22.2857 9.62286 21.28 9.16572 20.1829 9.16572C18.0571 9.16572 16.32 10.9029 16.32 13.0286C16.32 13.3257 16.3429 13.6229 16.4343 13.8971C13.2343 13.7371 10.3771 12.2057 8.48 9.87429C8.16 10.4457 7.95429 11.1086 7.95429 11.8171C7.95429 13.1429 8.64 14.3314 9.66857 15.0171C9.02857 15.0171 8.43429 14.8343 7.93143 14.5371V14.5829C7.93143 16.4571 9.25714 18.0114 11.0171 18.3771C10.6971 18.4686 10.3543 18.5143 10.0114 18.5143C9.76 18.5143 9.53143 18.4914 9.28 18.4457C9.76 19.9771 11.2 21.0971 12.8686 21.12C11.5429 22.1486 9.87429 22.7657 8.06857 22.7657C7.74857 22.7657 7.45143 22.7657 7.15429 22.72C8.84571 23.8171 10.88 24.4571 13.0514 24.4571' fill='%23112D51'/%3E%3C/svg%3E%0A");
}
.cig--navbar-social-link-fb:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32 16.0401C32 7.18596 24.832 0 16 0C7.168 0 0 7.18596 0 16.0401C0 23.8035 5.504 30.2677 12.8 31.7594V20.8521H9.6V16.0401H12.8V12.0301C12.8 8.93434 15.312 6.41604 18.4 6.41604H22.4V11.2281H19.2C18.32 11.2281 17.6 11.9499 17.6 12.8321V16.0401H22.4V20.8521H17.6V32C25.68 31.198 32 24.3649 32 16.0401Z' fill='%23112D51'/%3E%3C/svg%3E%0A");
}

/* --------------------------- */
/* BOTTOM SECTION - SEARCH BAR */
/* --------------------------- */
.cig--navbar-wrapper-secondchild-wrapper {
  background: var(--color-blue-dark);
}
input.cig--location-input:focus,
.cig--navbar-search-form input:focus {
  outline: none;
}
.cig--navbar-search-form {
  display: flex;
  align-items: center;
}
.cig--navbar-search-form input {
  border-radius: 50px 0 0 50px;
  border: 0;
  font-size: 16px;
  color: var(--color-grey-mid);
  padding: 0px 14px;
  height: 32px;
}
.cig--navbar-search-btn {
  background: var(--color-blue-light);
  height: 32px;
  width: 40px;
  border-radius: 0 50px 50px 0;
  border: none;
  cursor: pointer;
  transition: 0.2 ease;
}
.cig--navbar-search-btn:hover {
  background: var(--color-grey-dark);
}
.cig--navbar-search-btn span {
  display: block;
  height: 22px;
  width: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.671 10.3188L15.9748 14.6227C16.1261 14.7741 16.211 14.9793 16.2109 15.1933C16.2109 15.4074 16.1258 15.6126 15.9744 15.7639C15.823 15.9151 15.6177 16.0001 15.4037 16C15.1897 15.9999 14.9845 15.9148 14.8333 15.7635L10.5295 11.4595C9.24288 12.4561 7.62501 12.925 6.00496 12.771C4.38492 12.617 2.88439 11.8516 1.80864 10.6305C0.732895 9.40935 0.162728 7.82428 0.214134 6.1977C0.265541 4.57112 0.93466 3.02522 2.08537 1.87448C3.23608 0.72374 4.78194 0.054605 6.40848 0.00319699C8.03502 -0.048211 9.62005 0.52197 10.8411 1.59775C12.0622 2.67352 12.8276 4.17409 12.9816 5.79417C13.1356 7.41426 12.6667 9.03217 11.6702 10.3188H11.671ZM6.61123 11.1996C7.88421 11.1996 9.10506 10.6939 10.0052 9.7937C10.9053 8.89354 11.411 7.67267 11.411 6.39966C11.411 5.12665 10.9053 3.90577 10.0052 3.00562C9.10506 2.10546 7.88421 1.59976 6.61123 1.59976C5.33825 1.59976 4.11741 2.10546 3.21728 3.00562C2.31715 3.90577 1.81146 5.12665 1.81146 6.39966C1.81146 7.67267 2.31715 8.89354 3.21728 9.7937C4.11741 10.6939 5.33825 11.1996 6.61123 11.1996Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.cig--filter-menu {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.cig--dropdown-scroll-wrapper {
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
}
.cig--search-filter {
  width: calc(100% - (2 * 10px));
  border: var(--border-grey);
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}
.cig--search-filter:focus {
  outline: none;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
}
.checkbox-container label {
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox-container label:hover {
  background: var(--color-blue-light-bg);
}
.checkbox-container label input[type="checkbox"] {
  margin: 0;
}

.menu__item {
  position: relative;
}

.menu__link {
  background: var(--color-white);
  color: var(--color-grey-mid);
  display: block;
  text-decoration: none;
  border-radius: 50px;
  border: var(--border-grey);
  padding: 4px 26px 4px 12px;
  font-size: 16px;
  width: auto;
  position: relative;
}
.menu__link::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 5.45455C12.0008 5.39493 11.9878 5.33582 11.962 5.28103C11.9362 5.22623 11.8981 5.17695 11.8501 5.13636C11.6503 4.95455 11.3406 4.95455 11.1408 5.13636L6.99499 8.90909L2.85914 5.13636C2.65934 4.95455 2.34965 4.95455 2.14985 5.13636C1.95005 5.31818 1.95005 5.6 2.14985 5.78182L6.65533 9.86364C6.85513 10.0455 7.16482 10.0455 7.36462 9.86364L11.8501 5.77273C11.95 5.68182 12 5.56364 12 5.45455Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}
.menu__link:hover,
.menu__link:focus {
  text-decoration: none;
  color: var(--color-grey-mid);
}

.submenu {
  border: var(--border-grey);
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-main);
  display: none;
  left: 0;
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 0px;
  position: absolute;
  width: 300px;
  background: var(--color-white);
  z-index: 999;
}
.submenu--active {
  display: block;
}

.submenu__link {
  background-color: lightblue;
  color: black;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.submenu__link:hover,
.submenu__link:focus {
  background-color: black;
  color: lightblue;
}

/* --------------------------------------------- */
/* --- M O B I L E    S E A R C H    M E N U --- */
/* --------------------------------------------- */
#dropdown__search-mobile {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + -3px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  /* padding: 14px; */
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 5px, 0);
  overflow: hidden;
  transition: 0.5s ease all;
}
.mobile-search-wrapper {
}
#id_search_recent li:nth-child(n + 6),
#id_search_suggest li:nth-child(n + 6) {
  display: none;
}

/* ------------------------------ */
/* --- M O B I L E    M E N U --- */
/* ------------------------------ */
ul.mobile-menu-firstchild {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-blue-light-bg);
  margin: 0;
}
ul.mobile-menu-firstchild li {
  list-style: none;
}
.cig-mobile-container {
  display: flex;
  gap: 14px;
}
#mobile__search_button {
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='28' height='28' rx='5' fill='%23112D51'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3113 15.384L20.8081 18.8809C20.931 19.0039 21.0001 19.1707 21 19.3446C20.9999 19.5185 20.9308 19.6852 20.8078 19.8081C20.6848 19.931 20.518 20.0001 20.3442 20C20.1703 19.9999 20.0035 19.9308 19.8806 19.8078L16.3838 16.3109C15.3385 17.1206 14.0239 17.5016 12.7076 17.3764C11.3914 17.2513 10.1722 16.6294 9.29814 15.6372C8.42409 14.6451 7.96083 13.3572 8.0026 12.0356C8.04437 10.714 8.58802 9.45799 9.52298 8.52301C10.4579 7.58804 11.7139 7.04437 13.0355 7.0026C14.3571 6.96083 15.6449 7.4241 16.637 8.29817C17.6292 9.17224 18.251 10.3914 18.3762 11.7078C18.5013 13.0241 18.1203 14.3386 17.3106 15.384H17.3113ZM13.2002 16.0996C14.2345 16.0996 15.2265 15.6888 15.9578 14.9574C16.6892 14.226 17.1001 13.234 17.1001 12.1997C17.1001 11.1654 16.6892 10.1734 15.9578 9.44206C15.2265 8.71069 14.2345 8.29981 13.2002 8.29981C12.1659 8.29981 11.174 8.71069 10.4427 9.44206C9.7113 10.1734 9.30042 11.1654 9.30042 12.1997C9.30042 13.234 9.7113 14.226 10.4427 14.9574C11.174 15.6888 12.1659 16.0996 13.2002 16.0996Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 38px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.mobile-social-links-wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-social-links-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.mobile-social-links-wrapper ul li {
  list-style: none;
}
.mobile-rounded-button-wrapper {
  background: var(--color-blue-light-bg);
  border-radius: 0 0 10px 10px;
}
.mobile-rounded-button-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}
.mobile-rounded-button-wrapper ul li {
  list-style: none;
}
.mobile-rounded-button-wrapper ul li a {
  display: block;
  text-decoration: none;
}

/* --- Burger menu --- */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: #ffffff6c;
  padding: 4px;
  border-radius: 3px;
}

.menu-btn .bar {
  width: 30px;
  height: 2.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: var(--color-blue-dark);
  transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
  top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
  top: calc(50% + 9px);
}

.menu-btn.mobile-active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.mobile-active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.mobile-active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 90%;
  height: auto;
  background: var(--color-white);
  transform: translate(-50%, calc(-100% + -50px));
  transition: transform 0.5s;
  border-radius: var(--border-radius-10);
  box-shadow: var(--shadow-main);
  z-index: 999;
}

.mobile-nav.mobile-active {
  transform: translateX(-50%);
}

.mobile-nav .nav__list_item {
  list-style-type: none;
}
ul.nav__list {
  padding: 1rem;
}
.mobile-menu-secondchild {
  background: var(--color-blue-dark);
}

/* ---------------------------------- */
/* --- M O B I L E    S E A R C H --- */
/* ---------------------------------- */
ul.cig-searchbar-mobile-wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
section.cig--search-dropdown-wrapper {
  padding: 10px;
}
ul.cig-searchbar-mobile-wrapper li {
  position: relative;
}
ul.cig-searchbar-mobile-wrapper li.cig-searchbar-search-wrapper input,
ul.cig-searchbar-mobile-wrapper li.cig-searchbar-location-wrapper input {
  border: solid 1px #d7d7d7;
  position: relative;
}
.cig-mobile-submit-wrapper {
  padding: 12px 20px;
  background: #EFF5F9;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}
.cig-search-submit{
 padding: 10px 20px;
 background: #112D51;
 color: #fff;
 font-size: 16px;
 font-weight: 500;
 border: none;
 border-radius: 50px;
}
.cig-search-cancel{
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: transparent;
  color: #666666;
}

@media (max-width: 768px) {
  .cig--navbar-mobile {
    display: block;
  }
  nav.cig--navbar-pc {
    display: none;
  }
  img.cig--logo-mobile {
    width: 110px;
  }
  ul.cig-search-recent-list {
    padding: 0px;
    margin: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  ul.cig-search-recent-list li {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  ul.cig-search-suggest-list {
    padding: 0;
    gap: 10px;
    margin: 10px 0;
  }
  ul.cig-searchbar-wrapper li input,
  ul.cig-searchbar-mobile-wrapper li input {
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
  .cig--dropdown {
    padding: 10px 0;
    border-bottom: var(--border-grey);
  }
  .dropdown__menu
    .dropdown__content
    ul.dropdown__nav
    li.dropdown__item
    a.dropdown__link {
    width: 200px;
    font-weight: 600;
    font-size: 16px;
  }
  ul.cig-search-recent-list li {
    padding-left: 24px;
  }
  ul.cig-search-recent-list li::before {
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: 1px;
  }
  .cig--dropdown a.dropdown__link {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
  }
  ul.nav__list {
    padding: 1rem;
    margin: 0;
  }
  .mobile-social-links-wrapper {
    padding: 0 0 1rem 0;
  }
  .mobile-social-links-wrapper ul {
    margin: 10px;
  }
  a.cig--navbar-link-plain:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg class='dropdown__icon dropdown__icon-arrow-down' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath d='M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z' /%3E%3C/svg%3E");
    height: 20px;
    width: 20px;
    display: block;
  }
  a.cig--navbar-link-rounded {
    padding: 6px 12px;
    font-size: 16px;
  }
  /* --------------------- */
  /* Mobile search filters */
  /* --------------------- */
  .cig--filter-menu {
    gap: 8px;
  }
  .menu__item:nth-child(1) .submenu {
    left: 0%;
    top: 110%;
  }
  .menu__item:nth-child(2) .submenu {
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
  }
  .menu__item:nth-child(3) .submenu {
    left: calc(-200% - -12px);
    top: 110%;
  }
}
